@inherits LayoutComponentBase

<div class="app-panel container clearfix">
    <div class="app-panel-left col-left float-left">
        <NavMenu />
    </div>
    <div class="app-panel-right col-right float-left pr-1">
        @Body
    </div>
</div>

