@import url('https://fonts.googleapis.com/css?family=Bodoni+Moda&display=swap');


:root {

    --app-panel-right-header-left-color: #8a94a6;
    --app-panel-right-bg-color: #fff;

    --app-panel-left-bg-color: #f7f9fb;

    --app-panel-left-item-color: #24292e;
    --app-panel-left-item-active-color: rgba(55, 53, 47, 0.08);

    --app-panel-left-header-color: #24292e;

    --app-octicon-saved-color: #28a745;
    --app-octicon-saved-error: #d73a49;

    --app-textarea-bg-color: #fff;
    --app-textarea-font-color: initial;

    --app-octicon-bulb-light: #FCE851;
    --app-octicon-bulb-dark: #24292e;

    --app-markdown-code: initial;

    --app-footer-color: #8a94a6;
    /* --app-note-logo-color : linear-gradient(to right,#007991 25%,#78ffd6 100%); */
    --app-note-logo-color: linear-gradient(to right, #000428 0%, #004e92 100%);

    --app-note-login-color: #24292e;
}


[data-theme="dark"] {

    --app-panel-right-header-left-color: #8a94a6;
    --app-panel-right-bg-color: #06090f;

    --app-panel-left-bg-color: #0d1117;

    --app-panel-left-item-color: #c9d1d9;
    --app-panel-left-item-active-color: #161b22;

    --app-panel-left-header-color: #c9d1d9;

    --app-octicon-saved-color: #22863a;
    --app-octicon-saved-error: #cb2431;

    --app-textarea-bg-color: #06090f;
    --app-textarea-font-color: #c9d1d9;

    --app-octicon-bulb-light: #FCE851;
    --app-octicon-bulb-dark: #fff;

    --app-markdown-code: #161b22;

    --app-footer-color: #8a94a6;
    --app-note-logo-color: linear-gradient(to right, #f12711 0%, #f5af19 100%);

    --app-note-login-color: #c9d1d9;
}



* {
    transition: all 250ms;
    /* transition-property: background, color, fill; */
}

.markdown-body .highlight pre,
.markdown-body pre {
    background-color: var(--app-markdown-code);
}

html,
body {
    height: 100%;
}

body {
    background: var(--app-panel-right-bg-color);

}

.app-sidebar-name-text {
    color: var(--app-panel-left-header-color) !important;
}


a:hover {
    text-decoration: none !important;
}

.app-panel-left-block {
    margin-bottom: 10px;
}


button:focus {
    outline: none;
    box-shadow: none;
}

.app-panel-left-block-profile {
    /*border-bottom: 1px solid--app-panel-right-header-left-color);*/
}


.app-panel-left-header {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    justify-content: space-between;
}

.app-panel-right-header-left {
    margin-top: 0px !important;
    align-items: center;
    /*margin-bottom: 8px;*/
    font-size: 12px;
    line-height: 10px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: var(--app-panel-right-header-left-color);
}

.app-panel-right-header-right {
    margin-top: 0px !important;
    /*margin-bottom: 8px;*/
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    color: var(--app-panel-right-header-left-color);
}

.app-octicon {
    margin-left: -10px !important;
}

.app-octicon-last {
    margin-right: 10px;
}

.app-octicon>svg {
    fill: var(--app-panel-right-header-left-color);
}

.app-octicon-saved {
    margin-bottom: 1px;
}

.app-octicon-saved>svg {
    fill: var(--app-octicon-saved-color);
}

.app-octicon-error>svg {
    fill: var(--app-octicon-saved-error);
}

.app-octicon-working>svg {
    fill: var(--app-panel-right-header-left-color);
}

.app-panel-left-header-octicon {
    width: 12px !important;
    margin-bottom: 2px !important;
    fill: var(--app-panel-right-header-left-color);
}

.app-panel-left-header-profile {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 0px;
    margin-top: 12px !important;
}

.app-panel-left-header-profile:hover>.app-panel-left-item-buttons {
    display: inline-flex;
}

.app-panel-left-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*margin-bottom: 6px;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0px 10px 0px 20px;
    height: 27px;
    justify-content: space-between;
}

.app-panel-left-item-active {
    background: var(--app-panel-left-item-active-color);
}

.app-panel-left-item:hover {
    color: var(--app-panel-left-item-color);
    text-decoration: none;
    background: var(--app-panel-left-item-active-color);
}


.app-panel-left-item:hover>.app-panel-left-item-icon>svg {
    /* color: #506bf0; */
    text-decoration: none;
}

.app-panel-left-item:hover>.app-panel-left-item-text {
    color: var(--app-panel-left-item-color);
    text-decoration: none;
}


.app-panel-left-item:hover>.app-panel-left-item-badge-dot {
    background-color: var(--app-panel-left-item-color);
}

.app-panel-left-item-text {
    color: var(--app-panel-right-header-left-color);
    font-size: 14px;
}

.app-panel-right {
    background-color: var(--app-panel-right-bg-color);
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.markdown-body {
    color: var(--app-textarea-font-color) !important;
}

.app-footer-block-collapsed {
    width: 50px;
    position: fixed;
    bottom: 0;
    margin: auto;
}

.app-top-block-collapsed {
    width: 50px;
    position: fixed;
    top: 0;
    margin: auto;
    margin-top: 18px !important;
}

.col-collapsed {
    width: 50px;
    background-color: var(--app-panel-left-bg-color);
    height: 100vh;
}

.col-left {
    width: 260px;
    background-color: var(--app-panel-left-bg-color);
    height: 100vh;
}

.col-right {
    /*width: 85%;*/
}


.app-textarea {
    width: 100%;
    min-height: 96vh;
    max-height: 96vh;
    border: none;
    resize: none;

    color: var(--app-textarea-font-color);
    background-color: var(--app-textarea-bg-color);
}

.app-textarea:focus {
    outline: none;
}


.app-panel-left-header-text {
    justify-self: start;
    height: 15px;
    color: var(--app-panel-left-header-color);
}

.app-panel-left-header {
    color: var(--app-panel-left-header-color);
}

.app-panel-left-header:hover>.app-panel-left-header-buttons {
    display: inline-flex;
}

.app-panel-left-item:hover>.app-panel-left-item-buttons {
    display: inline-flex;
    /* right: 10px;
    position: absolute;*/
}

.pl-textarea {
    padding-left: 22px !important;
}

.app-panel-left-header-buttons {
    display: none;
    height: 15px;
    margin-top: -8px;
}

.app-panel-left-item-buttons {
    display: none;
    height: 18px;
}

.app-footer-buttons {
    display: inline-flex;
    height: 18px;
    margin-top: -8px;
}

.app-octicon-hover:hover>svg {
    fill: var(--app-panel-left-item-color);
    cursor: pointer;
}



.anim-fade-in {
    animation-name: fade-in;
    animation-duration: 0.2s !important;
    animation-timing-function: ease-in-out;
}


.app-header-middle-searchinput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 26px;
    padding-left: 8px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    border-radius: 5px;
    background-color: #f7f8f9;
    text-align: left;
    margin-top: 2px;
}

.app-header-middle-searchinput>svg {
    height: 15px;
    margin-left: 0px;
    color: var(--app-panel-right-header-left-color);
}

.app-header-middle-searchinput>input {
    box-shadow: none;
    border: none;
    background-color: #f7f8f9;
    margin-left: 10px;
    width: 100%;
    color: var(--app-panel-right-header-left-color);
}

.app-header-middle-searchinput>input:focus {
    box-shadow: none;
    border: none;
    background-color: #f7f8f9;
    outline: none;
}

.app-octicon-right {
    margin-right: 10px !important;
}


.app-text-container {
    max-height: Calc(100vh - 44px);
    overflow: hidden;
}

.app-textarea-container {
    max-height: calc(100vh - 45px);
    max-width: inherit;
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}


::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--app-panel-left-item-active-color);
}

::-webkit-scrollbar-track {
    background: var(--app-panel-left-bg-color);
}

.mr-saved {
    margin-right: 10px !important;
}

.app-octicon-right-last {
    margin-right: 0px !important;
    margin-left: -14px !important;
}


.svg-bulb-light:hover>svg {
    cursor: pointer;
    fill: var(--app-octicon-bulb-light);
}


.svg-bulb-light>svg {
    fill: var(--app-octicon-bulb-light);
    margin-left: 2px;
}

.svg-bulb-dark>svg {
    fill: var(--app-octicon-bulb-dark) !important;
    margin-left: 2px;
}

.avatar {
    margin-bottom: 2px !important;
}

.app-footer-text {
    /*color: var(--app-panel-left-item-active-color);*/
    color: var(--app-footer-color);
    margin-bottom: 15px !important;
}

.app-footer-text>a {
    text-transform: uppercase;

    color: var(--app-footer-color);
}

.font-madoni {
    font-family: "Bodoni Moda 11pt" !important;
    font-style: italic;
    /*background: linear-gradient(to right, #0F2027 0%, #203A43 0%, #2C5364 100%);*/
    /* background: linear-gradient(to right, #f12711 0%, #f5af19 100%); */
    background: var(--app-note-logo-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}

.app-footer-block {
    width: 260px;
    position: fixed;
    bottom: 0;
    margin: auto;
}


.app-sidebar-collapse {
    margin-top: -9px !important;
    margin-left: 40px !important;
}

.app-octicon-enabled>svg {
    /* fill: var(--app-panel-left-item-color); */
    fill: var(--app-octicon-bulb-dark);
    cursor: pointer;
}


.app-loading {
    height: 100vh;
    /* width: 100vw; */
    font-size: 56px;
    font-family: "Bodoni Moda 11pt" !important;
    font-style: italic;
    color: var(--app-panel-left-header-color);
    background-color: var(--app-panel-right-bg-color);
    font-style: italic;
}

.app-login {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.btn-login>svg {
    height: 24px;
    fill: var(--app-panel-right-header-left-color);
}

.btn-login:hover>svg{
    fill: var(--app-panel-left-item-color);
    cursor: pointer;
}

.app-login-text {
    font-size: 56px;
    font-family: "Bodoni Moda 11pt" !important;
    font-style: italic;
    color: var(--app-panel-left-header-color);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.app-login-subtext{
    margin-top: 24px !important;
}

.app-login-subtext > a {
    color: var(--app-panel-right-header-left-color);
    font-size: 12px;
}
.app-login-subtext:hover > a {
    color: var(--app-panel-left-item-color);
    cursor: pointer;
}

.app-login-subtext-emoji{
    font-weight: 800;
}