body {
    background-color: #fff;
}

a:hover {
    text-decoration: none !important;
}

.app-panel-left-block {
    margin-bottom: 10px;
}


.app-panel-left-block-profile {
    /*border-bottom: 1px solid #8a94a6;*/
}



.app-panel-left-header {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    justify-content:space-between;
}

.app-panel-right-header-left {
    margin-top: 22px !important;
    /*margin-bottom: 8px;*/
    font-size: 12px;
    line-height: 10px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #8a94a6;
}

.app-panel-right-header-right {
    margin-top: 10px !important;
    /*margin-bottom: 8px;*/
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    color: #8a94a6;
}

.app-octicon {
    margin-left: -10px !important;
}

.app-octicon-last {
    margin-right: 10px;
}

.app-octicon > svg {
    fill: #8a94a6;
}

.app-octicon-saved > svg {
    fill: #22863a;
}

.app-octicon-error > svg {
    fill: #cb2431;
}

.app-octicon-working > svg {
    fill: #8a94a6;
}

.app-panel-left-header-octicon {
    width: 12px !important;
    margin-bottom: 2px !important;
    fill: #8a94a6;
}

.app-panel-left-header-profile {
    font-size: 14px;
    text-transform: none;
    margin-bottom: 0px;
}

.app-panel-left-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*margin-bottom: 6px;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0px 10px 0px 20px;
    height: 27px;
    justify-content:space-between;
}

.app-panel-left-item-active {
    background: rgba(55, 53, 47, 0.08);
}

    .app-panel-left-item:hover {
        color: #24292e;
        text-decoration: none;
        background: rgba(55, 53, 47, 0.08);
    }


        .app-panel-left-item:hover > .app-panel-left-item-icon > svg {
            color: #506bf0;
            text-decoration: none;
        }

        .app-panel-left-item:hover > .app-panel-left-item-text {
            color: #24292e;
            text-decoration: none;
        }


        .app-panel-left-item:hover > .app-panel-left-item-badge-dot {
            background-color: #24292e;
        }

.app-panel-left-item-text {
    color: #8a94a6;
    font-size: 14px;
}

.app-panel-right {
    background-color: #fff;
}

.col-left {
    width: 13%;
    background-color: #f7f9fb;
    height: 100vh;
}

.col-right {
    width: 87%;
}


.app-textarea {
    width: 100%;
    min-height: 93vh;
    border: none;
    resize: none;
}

    .app-textarea:focus {
        outline: none;
    }


.app-panel-left-header-text {
    justify-self: start;
    height: 15px;
}

.app-panel-left-header:hover > .app-panel-left-header-buttons {
    display: inline-flex;
}

.app-panel-left-item:hover > .app-panel-left-item-buttons {
    display: inline-flex;
    /* right: 10px;
    position: absolute;*/
}

.app-panel-left-header-buttons {
    display: none;
    height: 15px;
    margin-top: -8px;
}

.app-panel-left-item-buttons {
    display: none;
    height: 18px;
    margin-top: -8px;
}

.anim-fade-in {
    animation-name: fade-in;
    animation-duration: 0.2s !important;
    animation-timing-function: ease-in-out;
}


.app-header-middle-searchinput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 26px;
    padding-left: 8px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    border-radius: 5px;
    background-color: #f7f8f9;
    text-align: left;
    margin-top: 2px;
}

    .app-header-middle-searchinput > svg {
        height: 15px;
        margin-left: 0px;
        color: #8a94a6;
    }

    .app-header-middle-searchinput > input {
        box-shadow: none;
        border: none;
        background-color: #f7f8f9;
        margin-left: 10px;
        width: 100%;
        color: #8a94a6;
    }

        .app-header-middle-searchinput > input:focus {
            box-shadow: none;
            border: none;
            background-color: #f7f8f9;
            outline: none;
        }