@inherits AppBase
<CascadingValue Value="Model">
    <div class="app-panel container clearfix d-flex">
        <Note.Site.Components.Sidebar />
        <Note.Site.Components.Markdown />
    </div>
</CascadingValue>