@inherits LoginBase


<div class="d-flex flex-justify-center flex-items-center app-login container-lg clearfix anim-fade-in overflow-x-hidden overflow-y-hidden ">

    <div class="col-12 float-left">
        <p class="text-center app-login-text">Note</p>
        <div class="d-flex flex-justify-center flex-items-center app-login-subtext">
            <p><a @onclick="UseLocalStorage" class="cursor-pointer">Open</a> or <a class="cursor-pointer" @onclick="UseLocalStorage">create</a> a new book <span class="anim-pulse"><b>→</b></span></p>
        </div>
    </div>
</div>
