@inherits NoteAppBase

<CascadingValue Value="Model">
        @* <Note.Site.Components.Login /> *@
        <div class="app-panel container clearfix d-flex">
            <Note.Site.Components.Sidebar />
            <Note.Site.Components.Markdown />
        </div>
</CascadingValue>
