@inherits NoteAppBase

<CascadingValue Value="Model">

    @if (Loading)
    {
        <div class="d-flex flex-justify-center flex-items-center app-loading anim-pulse">Note</div>
    }
    else
    {
        @if (Model == null || !Model.User.LoggedIn)
        {
            <Note.Site.Components.Login UseLocalStorage="UseLocalStorage" />
        }
        else
        {
            <div class="app-panel container clearfix d-flex anim-fade-in">
                <Note.Site.Components.Sidebar Logout="Logout" />
                <Note.Site.Components.Markdown />
            </div>
        }
    }


</CascadingValue>
