<div class="app-panel-left-block mt-4 mb-4 app-panel-left-block-profile pb-1">
    <h4 class="app-panel-left-header app-panel-left-header-profile pl-4 pr-2 css-truncate css-truncate-overflow">
        <img class="avatar avatar-3 mr-2" alt="jonrohan" src="https://avatars2.githubusercontent.com/u/13499480?s=460&u=dc817bc92bd7144f068f26107fa0d6bbf7be8471&v=4?v=3&s=48" />
        <span>Emiliano Montesdeoca</span>
    </h4>
</div>

@code{

}