
@inject IJSRuntime JSRuntime

@if (IsCollapsed)
{
    <div class="app-panel-left col-collapsed float-left">
        <Note.Site.Components.SidebarUser Username="@Hello" ImagePath="ImageUrl" OnClickCallback="@UpdateCollapsed"  />
        <Note.Site.Components.SidebarFooter IsCollapsed="@IsCollapsed" />
    </div>
}
else
{
    <div class="app-panel-left col-left float-left">
        <Note.Site.Components.SidebarUser OnClickCallback="@UpdateCollapsed" IsCollapsed="IsCollapsed" />

        <div class="app-panel-left-block ">
            <h4 class="app-panel-left-header pl-4 pr-2">Study</h4>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">
                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">🍪 Rust</div>
            </a>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">
                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">✒ Photoshop</div>
            </a>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">
                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">⭐ C++</div>
            </a>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">
                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">🤖 Blazor</div>
            </a>
        </div>

        <div class="app-panel-left-block">
            <div class="app-panel-left-header pl-4 pr-2 d-flex">
                <div class="app-panel-left-header-text css-truncate css-truncate-overflow">Meetings</div>
                <div class="app-panel-left-header-buttons anim-fade-in">
                    <button class="btn-octicon app-octicon app-octicon-working tooltipped ml-1 tooltipped-s pl-2" type="button" aria-label="Show pages">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"></path></svg>
                    </button>

                    <button class="btn-octicon app-octicon app-octicon-hover app-octicon-working tooltipped ml-1 tooltipped-s" type="button" aria-label="Rename book">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path></svg>
                    </button>
                    <button class="btn-octicon app-octicon app-octicon-hover app-octicon-working tooltipped ml-1 tooltipped-s" type="button" aria-label="Delete book">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path></svg>
                    </button>
                    <button class="btn-octicon app-octicon app-octicon-hover app-octicon-working tooltipped ml-1 tooltipped-s" type="button" aria-label="New page">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"></path></svg>
                    </button>
                </div>
            </div>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2 d-flex app-panel-left-item-active">

                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">🤝🏻 06/01/2021 Standup standup </div>
                <div class="app-panel-left-item-buttons anim-fade-in mb-2">
                    <button class="btn-octicon app-octicon app-octicon-hover app-octicon-working tooltipped ml-1 tooltipped-s pl-3" type="button" aria-label="Delete book">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path></svg>
                    </button>
                </div>

            </a>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">
                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">🤝🏻 12/01/2021 sprint review </div>
            </a>
        </div>

        <div class="app-panel-left-block">
            <h4 class="app-panel-left-header pl-4 pr-2">Personal</h4>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">

                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">🏋🏻‍♀️ Workout plan</div>
            </a>

            <a href="/products/equal" class="app-panel-left-item pl-6 pr-2">

                <div href="" class="app-panel-left-item-text css-truncate css-truncate-overflow">💳 Monthly expenses</div>
            </a>
        </div>


        <Note.Site.Components.SidebarFooter IsCollapsed="IsCollapsed" />

    </div>
}




@code{
    [Parameter]
    public string Username { get; set; } = "Hola";

    [Parameter]
    public string ImageUrl { get; set; }

    public string Hello { get; set; } = "Hola";

    public bool IsCollapsed { get; set; } = true;

    private void UpdateCollapsed()
    {
        IsCollapsed = !IsCollapsed;
        StateHasChanged();
    }

}